<%= form_for(user) do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <h2><%= message %></h2>
      <% end %>
  <% end %>
  <%= f.label :name, "名子：" %>
  <%= f.text_field :name %> <br />

  <%= f.label :email, "電子郵件：" %>
  <%= f.text_field :email %> <br />

  <%= f.label :password, "密碼：" %>
  <%= f.password_field :password %> <br />

  <%= f.label :password_confirmation, "再次確認密碼：" %>
  <%= f.password_field :password_confirmation %> <br />

  <%= f.submit %>
<% end %>
